/* Gradient Background */

[data-testid="stAppViewContainer"] {
    background: linear-gradient(to right, #94bbe9, #eeaeca); 
    color: #333; 
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* App Title Styling */
h1 {
    color: #ffffff;

}


[data-testid="stSidebar"] {
    background: #c3b5d9; 
    color: #333;

}

/* Buttons */
button {
    background: linear-gradient(to right, #f4c2ec, #94bbe9);
    color: white;

}

button:hover {
    background: linear-gradient(to right, #d5bc48, #d5be5f);

}



